PORT=8080
MONGO_URI=mongodb://localhost:1111
MONGO_DATABASE='development'
SECRET_KEY='1qsdadqdasdasd'
process.env.MAX_TOKEN_AGE= 24 * 60 * 60 * 1000
ALLOWED_ORIGINS='http://localhost:1111'
NODE_ENV='development'